@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* css variables */
:root {
    --primary-color: #d3e231;
    --primary-color2: #f39c12;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #ffaf04ff;
    --gradient-color: linear-gradient(90deg, #f39c12 50%, #d3e231 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

   
    --roboto: "Roboto", cursive;
}
.but{
    padding: 1rem 1rem 1rem 38rem;
    background-color: aliceblue;

}

div{
    background-color: cyan;
    color: green;
    font: normal 24px/35px var(--roboto);
}


p:hover {
    background-color: rgba(47, 99, 255, 0.484);
    color: black;
    font-family: 'Franklin Gothic Medium';
}

p::selection {
    background-color: lightskyblue;
    color: palevioletred;
    font: normal 24px/35px var(--roboto);
}


#p1{
    font: bold 24px/35px var(--roboto); 
    width: 100px; 
    padding: 1rem 0 1rem 2rem;
    background-color:rgba(255, 30, 30, 0.875);
}#p2{
    font: bold 24px/35px var(--roboto); 
    width: 100px; 
    padding: 1rem 0 1rem 2rem;
    background-color:rgba(255, 30, 30, 0.573);
}#p3{
    font: bold 24px/35px var(--roboto); 
    width: 100px; 
    padding: 1rem 0 1rem 2rem;
    background-color:rgba(255, 30, 30, 0.347);
}#p4{
    font: bold 24px/35px var(--roboto); 
    width: 100px; 
    padding: 1rem 0 1rem 2rem;
    background-color:rgba(255, 30, 30, 0.142);
}
h1,h2 {
    background-color: rgba(86, 206, 50, 0.43);
    font-weight: bold;
    font-family:var(--roboto); 
}
h3,h4 {
    background-color: rgba(50, 128, 206, 0.886);
    font-weight: bold;
    font-family:var(--roboto); 
}
pre {
    display: block;
    font-family: var(--roboto);
    font: normal 18px/35px var(--roboto);
    color: aliceblue;
}

/* selector : class */



/* selector : id */


/* #b1{
                padding: 10px;
                background-color: greenyellow;
                border-radius: 2px;
            } */

.bt1 {
    padding: 10px;
    background-color: greenyellow;
    border-radius: 2px;
    scale: 2em;
}

/* #b1:hover{
                transition : 0.3s;
                background-color: purple;
                border-radius: 10px;
            } */

.bt1:hover {
    transition: 0.5s;
    background-color: rgba(128, 0, 128, 0.519);
    border-radius: 4px;
    transform:scale(1.8);
    
}

/* conflict between class, id & tag_name */




/* child-parent tag property inhertion */
