<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap");

      .head {
        color: aliceblue;
        padding: auto;
        text-align: center;
        font-size: xx-large;
        font-family: "Open Sans", sans-serif;
        font-family: "Roboto", sans-serif;
      }
    </style>
  </head>

  <body style="background-color: #645cbb">
    <td>
      <div>
        <p class="head">
          <img
            src="../images/ITNU_LOGO_A.jpg"
            alt="Image Not Found"
            height="40"
            width="150"
          />
          NIRMA UNIVERSITY
        </p>
      </div>
    </td>
  </body>
</html>
